ion-header {
    text-align: center;
    font-weight: bold;
}

ion-input {
    --background: #f0e9d2b9;
}

ion-content {
    --padding-left: 5px;
    --padding-bottom: 5px;
    --background: #f0e9d2;
}
