@import "~leaflet/dist/leaflet.css";

.mapId {
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-fab {
    margin-top: var(--ion-safe-area-top, 0);
    margin-bottom: var(--ion-safe-area-bottom, 0);
    right: 5px;
  }
  
ion-tabs {
    bottom: 5px;
}